
body {
  font-family: Arial, sans-serif;
  /*text-align: center;*/
  margin: 20px;
}

header {
    background-color: var(--cor-tema, #4CAF50);
    color: white;
    text-align: center;
    padding: 1em;
}
main {
    padding: 20px;
}
input, button {
    display: block;
    margin: 10px 0;
    padding: 8px;
}
button, select {
	cursor:pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}



.destaques {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.usuario {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  width: 150px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.usuario img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

FORM .cadastroForm, LABEL {
  text-align: left;
}